#setting {
    display: flex;
    flex-direction: column;
    width:25vw;
    transition: width 0.2s ease-in-out;
    overflow:hidden;
}

#settingicon{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#settingicon i::before{
    display: block;
}

